{% extends "layout.html" %}

{% block content %}

<div class="container mt-5">
   <div class="d-flex justify-content-center gap-3 my-3">
      <a href="{% url 'NewBlog' %}" class="btn btn-primary"> Create New Blog</a>

   
      <a href="{% url 'home' %}" class="btn btn-primary">All Blogs</a>
 </div>
</div>
  <h2 class="text-center text-primary">Your Blogs</h2>

   <div class="list-group mt-4">
      {% for post in query %}
      <div class="list-group-item list-group-item-action py-3 px-4 rounded-3 shadow-sm mb-3 position-relative"
           style="cursor: pointer;"
           onclick="window.location.href='{% url 'Blog' post.id %}';">
        
        {% if user == post.author %}
<!-- Delete button -->
<button type="button"
        class="btn btn-sm btn-light text-danger position-absolute top-0 end-0 m-2"
        onclick="event.stopPropagation(); if(confirm('Are you sure you want to delete this post?')) { window.location.href='{% url 'DeleteBlog' post.id %}'; }">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg>
</button>


<!-- Edit button -->
<button type="button"
        class="btn btn-sm btn-light text-primary position-absolute top-0 end-0 mt-2 me-5"
        onclick="event.stopPropagation(); window.location.href='{% url 'EditBlog' post.id %}';">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
    <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 3L13 4.793 12.207 5.586 10.414 3.793 11.207 3zm1.586-1.586L12.5 1.121 14.879 3.5l.293-.293-2.879-2.879zm-9.69 9.69l-1 2.5 2.5-1L11.5 5.207 9.793 3.5 3.103 10.207z"/>
  </svg>
</button>


{% endif %}
<div class="d-flex justify-content-between align-items-center">
          <h5 class="mb-1">{{ post.title }}</h5>
        </div>
        <p class="mb-2 text-secondary">{{ post.content|truncatechars:200 }}</p>
        <p class="mb-2 text-secondary">Category: {{ post.content_type }}</p>
        <small class="text-primary fw-semibold">By You</small>
        <small class="text-muted">{{ post.created_at|date:"M d, Y" }}</small>
         
      </a>
    </div>
    {% empty %}
      <p class="text-center text-muted py-4">You haven't posted any blogs yet.</p>
    {% endfor %}
</div>

{%endblock%}
